<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnpc.sss.mybatis.dao.MusicMapper" >
  <resultMap id="BaseResultMap" type="com.cnpc.sss.mybatis.model.Music" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uploadPeople" property="uploadpeople" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="copyRIght" property="copyright" jdbcType="VARCHAR" />
    <result column="voicepart" property="voicepart" jdbcType="VARCHAR" />
    <result column="rhythm" property="rhythm" jdbcType="VARCHAR" />
    <result column="Lyrics" property="lyrics" jdbcType="VARCHAR" />
    <result column="writeMusic" property="writemusic" jdbcType="VARCHAR" />
    <result column="jianpu" property="jianpu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uploadPeople, time, path, copyRIght, voicepart, rhythm, Lyrics, writeMusic, jianpu
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from music
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from music
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cnpc.sss.mybatis.model.Music" >
    insert into music (id, uploadPeople, time, 
      path, copyRIght, voicepart, 
      rhythm, Lyrics, writeMusic, 
      jianpu)
    values (#{id,jdbcType=VARCHAR}, #{uploadpeople,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{path,jdbcType=VARCHAR}, #{copyright,jdbcType=VARCHAR}, #{voicepart,jdbcType=VARCHAR}, 
      #{rhythm,jdbcType=VARCHAR}, #{lyrics,jdbcType=VARCHAR}, #{writemusic,jdbcType=VARCHAR}, 
      #{jianpu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cnpc.sss.mybatis.model.Music" >
    insert into music
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uploadpeople != null" >
        uploadPeople,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="copyright != null" >
        copyRIght,
      </if>
      <if test="voicepart != null" >
        voicepart,
      </if>
      <if test="rhythm != null" >
        rhythm,
      </if>
      <if test="lyrics != null" >
        Lyrics,
      </if>
      <if test="writemusic != null" >
        writeMusic,
      </if>
      <if test="jianpu != null" >
        jianpu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uploadpeople != null" >
        #{uploadpeople,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="voicepart != null" >
        #{voicepart,jdbcType=VARCHAR},
      </if>
      <if test="rhythm != null" >
        #{rhythm,jdbcType=VARCHAR},
      </if>
      <if test="lyrics != null" >
        #{lyrics,jdbcType=VARCHAR},
      </if>
      <if test="writemusic != null" >
        #{writemusic,jdbcType=VARCHAR},
      </if>
      <if test="jianpu != null" >
        #{jianpu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cnpc.sss.mybatis.model.Music" >
    update music
    <set >
      <if test="uploadpeople != null" >
        uploadPeople = #{uploadpeople,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        copyRIght = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="voicepart != null" >
        voicepart = #{voicepart,jdbcType=VARCHAR},
      </if>
      <if test="rhythm != null" >
        rhythm = #{rhythm,jdbcType=VARCHAR},
      </if>
      <if test="lyrics != null" >
        Lyrics = #{lyrics,jdbcType=VARCHAR},
      </if>
      <if test="writemusic != null" >
        writeMusic = #{writemusic,jdbcType=VARCHAR},
      </if>
      <if test="jianpu != null" >
        jianpu = #{jianpu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cnpc.sss.mybatis.model.Music" >
    update music
    set uploadPeople = #{uploadpeople,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      path = #{path,jdbcType=VARCHAR},
      copyRIght = #{copyright,jdbcType=VARCHAR},
      voicepart = #{voicepart,jdbcType=VARCHAR},
      rhythm = #{rhythm,jdbcType=VARCHAR},
      Lyrics = #{lyrics,jdbcType=VARCHAR},
      writeMusic = #{writemusic,jdbcType=VARCHAR},
      jianpu = #{jianpu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>